
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme</title>
</head>
<body>
	<div>
        layout
    </div>
	<div>dasdas</div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
