
@{
    Layout = null;
}

<h3>MVC-Kategoriya</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>adi</th>
        <th>Aciklama</th>
        <th>durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tehsil</td>
        <td>Aciklama Yaptik</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Idman</td>
        <td>Aciklama Yaptik</td>
        <td>True</td>

    </tr>
</table>